@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: transparent;
	/* scroll-behavior: smooth; */
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	@apply hidden;
}

.swiper-pagination-bullet-active {
	@apply !bg-primary;
}

.swiper-pagination-bullet {
	@apply !ms-4 bg-greyCol bg-opacity-50;
}

.page-item {
	@apply text-greyCol/50;
}

.page-item.active {
	@apply rounded-[7px] bg-primary px-4 py-2 text-white;
}

.swiper-button-prev,
.swiper-button-next {
	-webkit-text-stroke-width: 3px;
	width: 60px;
	color: #fff;
}

.test .swiper-button-prev,
.test .swiper-button-next {
	@apply w-0 lg:!w-[25%];
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 30px;
}

.test .swiper-button-prev,
.test .swiper-button-next {
	@apply mr-28;
}

.test .swiper-button-prev:after {
	content: url('./assets/icons/test.svg');
	display: inline-block;
	transform: rotate(180deg);
}

.test .swiper-button-next:after {
	content: url('./assets/icons/test.svg');
}

.test .swiper-button-disabled {
	@apply hidden;
}
