@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: transparent;
	/* scroll-behavior: smooth; */
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;
}

.swiper-pagination-bullet-active {
	@apply !bg-primary;
}

.swiper-pagination-bullet {
	@apply !ms-4 bg-greyCol bg-opacity-50;
}

.page-item {
	@apply text-greyCol/50;
}

.page-item.active {
	@apply rounded-[7px] bg-primary px-4 py-2 text-white;
}

.swiper-button-prev,
.swiper-button-next {
	-webkit-text-stroke-width: 3px;
	width: 60px;
	color: #fff;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 30px;
}
